* {
  box-sizing: border-box;
  font-family: "Mystery Quest", cursive;
  cursor: url("../img/gam209.cur"), auto;
}

body {
  height: 100vh;
  display: flex;
  flex-flow: column;
  background-image: url("../img/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #97be46;
}

/**** BUTTONS ****/
a {
  width: 15rem;
  border-radius: 1.5rem;
  padding: 1.5rem;
  border: 0.0625rem solid #cacf7b;
  height: 4.1875rem;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  transition: transform ease 0.3s;
}
a:hover {
  transform: scale(1.03);
}
a:active {
  transform: scale(0.98);
}
.btn-primary {
  color: #cacf7b;
  background: #121711;
}
.btn-secondary {
  color: #121711;
  background: #cacf7b;
}

/**** LOGO ****/
header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}
header .logo,
header .audio {
  margin: 1rem;
  color: #121711;
  font-size: 3rem;
}

/**** INSTRUCTIONS ****/
.instructions {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .2rem;
  gap: 0.5rem;
  margin: auto;
}
.instructions p {
  color: #d8a122;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  text-shadow: 0.0625rem 0 0 #323232;
}
.instructions img {
  filter: invert(86%) sepia(91%) saturate(836%) hue-rotate(342deg)
    brightness(92%) contrast(85%);
}

/**** COPYRIGHT ****/
footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
}
.copyright-text {
  margin: auto;
  padding: .2rem;
  text-shadow: 0.0625rem 0 0 white;
}

/**** TABLET ****/
@media (min-width: 600px) {
}

/**** DESKTOP ****/

@media (min-width: 1200px) {
}
