* {
  box-sizing: border-box;
  font-family: "Mystery Quest", cursive;
  cursor: url("../img/gam209.cur"), auto;
}

body {
  height: 100vh;
  display: flex;
  flex-flow: column;
  background-image: url("../img/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/**** BUTTONS ****/
a {
  width: 15rem;
  border-radius: 1.5rem;
  padding: 1.5rem;
  border: 0.0625rem solid #cacf7b;
  height: 4.1875rem;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  transition: transform ease 0.3s;
}
a:hover {
  transform: scale(1.03);
}
a:active {
  transform: scale(0.98);
}
.btn-primary {
  color: #cacf7b;
  background: #121711;
}
.btn-secondary {
  color: #121711;
  background: #cacf7b;
}

/**** LOGO ****/
header .logo {
  margin: 1rem;
}

/**** TABLET ****/
@media (min-width: 600px) {
}

/**** DESKTOP ****/

@media (min-width: 1200px) {
}
