* {
  box-sizing: border-box;
  font-family: 'Mystery Quest', cursive;
}

body {
  height: 100vh;
  display: flex;
  flex-flow: column;
  background-image: url("../img/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}

main h1 {
  text-align: center;
  color: #121711;
}
main .buttons {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 90%;
  margin: auto;
}
main .buttons > * {
  margin-bottom: 1rem;
  margin-inline: auto;
}

/**** BUTTONS ****/
a {
  width: 15rem;
  border-radius: 1.5rem;
  padding: 1.5rem;
  border: 0.0625rem solid #cacf7b;
  height: 4.1875rem;
  font-weight: 900;
  text-align: center;
}
.btn-primary {
  color: #cacf7b;
  background: #121711;
  border-radius: 1.2rem;
  width: 18rem;
  height: 5rem;
}
.btn-secondary {
  color: #121711;
  background: #cacf7b;
}


/**** LOGO ****/
header .logo {
  margin: 1rem;
}

/**** TABLET ****/
@media (min-width: 600px) {
  
}

/**** DESKTOP ****/

@media (min-width: 1200px) {
  
}
